@import 'settings';
@import 'foundation-emails';


.body {
  .header {
    h1 {
      color: $white;
      text-transform: uppercase;
    }
  }
  .questions {
    h4 {
      color: $green-color;
    }
  }
  .behaviors {
    margin-bottom: 8px;
    p {
      strong {
        color: $green-color;
      }

    }
  }
  .footer {
    background-color: $body-background;
  }
  p {
    padding: 0px 8px 4px 8px;
  }
  h2 {
    padding: 24px 8px 8px 8px;
  }
  h4{
    padding: 0px 8px;
    margin-bottom: 5px;
  }
}
