@import 'settings';
@import 'foundation-emails';


.body {
  .header {
    h1 {
      color: $white;
      text-transform: uppercase;
      padding: 16px;
    }
  }

  .questions {
    h4 {
      color: $green-color;
    }
  }

  .behaviors {
    p {
      strong {
        color: $green-color;
      }

    }
  }

  .footer {
    background-color: $body-background;
  }

  p {
    padding: 0px 32px 4px 32px;
  }
  h2 {
    padding: 24px 16px 8px 16px;
  }
  h4{
    padding: 0px 32px;
    margin-bottom: 5px;
  }
}
