@import 'settings';
@import 'foundation-emails';


.header {
  h1 {
    color: $white;
    text-transform: uppercase;
    padding: 16px;
  }
}

.questions {
  h4 {
    color: $green-color;
  }
}

.behaviors {
  p {
    strong {
      color: $green-color;
    }

  }
}
p {
  padding: 8px 32px;
}
